<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.7;">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5 z10 text-shadow-magenta">
            <h1 class="display-4 font-weight-normal"><img src="/img/vptech-logo-x50.png" alt="Support logo" width="50"/> </h1>
            <p class="lead font-weight-normal">
                Welcome to the homepage of Viewpoint Technical LLC
            </p>
            <p class="font-weight-normal">
                <img src="/img/logos/support.png" alt="Support logo" width="32"/>
                For support, please contact Dan King at <a href="mailto:dan.king@vptech.io">dan.king@vptech.io</a>
            </p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div>
        <h2><img src="/img/I-heart-San-Francisco.png" alt="Sticker Pack logo" width="32"/> For iMessage sticker packs, please see the <a href="/sticker-packs"> Sticker Packs</a> page</h2>
    </div>
    <div>
        <h3><a href="https://github.com/dan-king" target="_blank"><img src="/img/logos/GitHub-Mark-32px.png" alt="GitHub logo" width="32"/> GitHub Profile</a></h3>
    </div>
    <div>
        <h3><a href="https://stackoverflow.com/users/920066/dan-king" target="_blank"><img src="/img/logos/StackOverflow.png" alt="StackOverflow logo" width="32"/> StackOverflow Profile</a></h3>
    </div>
    <div>
        <h3> <a href="https://twitter.com/viewpointtechno" target="_blank"><img src="/img/logos/Twitter_x50.png" alt="Twitter logo" width="32"/> Twitter @viewpointtechno</a></h3>
    </div>
</div>