<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.7;">
<h1>Welcome to the homepage of Viewpoint Technical LLC</h1>
<h2>For support, please contact Dan King at <a href="mailto:dan.king@vptech.io">dan.king@vptech.io</a> </h2>
<h3>Twitter <a href="https://twitter.com/viewpointtechno" target="_blank">@viewpointtechno</a></h3>
</div>