<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.9;">

<p>
    <a href="/"><img src="/img/vptech-logo-x25.png" alt="Viewpoint Technical Homepage"></a>
</p>

<h1>Sticker Packs</h1>

<h2>Sticker packs for iMessage on iPhone and iPad</h2>
<p>
    I Love San Francisco
    <br/>
    <a href="/sticker-packs/license/" target="_blank"><img src="/img/I-heart-San-Francisco.png" alt="Download on the App Store"/></a>
</p>
<p>
    <a href="https://www.apple.com/ios/app-store/" target="_blank"><img src="/img/download-on-the-app-store_x250.png" alt="Download on the App Store"/></a>
</p>

<p>
    <a href="/sticker-packs/support/">Sticker Pack Support</a>
</p>
<p>
    <a href="/sticker-packs/license/">Sticker Pack License</a>
</p>
<p>
    <a href="/sticker-packs/privacy-policy/">Sticker Pack Privacy Policy</a>
</p>


</div>
