<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.7;">

<p>
    <a href="/sticker-packs/">Sticker Packs</a>
</p>

<h1>Sticker Pack Privacy Policy</h1>

</div>
