<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.9;">

<p>
    <a href="/"><img src="/img/vptech-logo-x25.png" alt="Viewpoint Technical Homepage"></a>
    &nbsp;
    Sticker Packs
</p>

<h2>Sticker packs for iMessage on iPhone and iPad</h2>
<p>
    <a href="https://apps.apple.com/us/app/i-love-san-francisco/id1507523584/" target="_blank">"I Love San Francisco"</a> sticker pack
</p>
<p>
    <a href="https://apps.apple.com/us/app/i-love-san-francisco/id1507523584/" target="_blank"><img src="/img/download-on-the-app-store_x250.png" alt="Download on the App Store"/></a>
</p>
<p>
    <a href="https://apps.apple.com/us/app/i-love-san-francisco/id1507523584/" target="_blank"><img src="/img/I-heart-San-Francisco.png" alt="Download on the App Store"/></a>
</p>

<p>
    <a href="/sticker-packs/support/">Sticker Pack Support</a>
</p>
<p>
    <a href="/sticker-packs/license/">Sticker Pack License</a>
</p>
<p>
    <a href="/sticker-packs/privacy-policy/">Sticker Pack Privacy Policy</a>
</p>


</div>
