<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.7;">

<p>
    <a href="/"><img src="/img/vptech-logo-x25.png" alt="Viewpoint Technical Homepage"></a>
</p>

<h1>Sticker Packs</h1>

<h2>Sticker packs for iMessage on iPhone and iPad</h2>

<h3>I Heart San Francisco</h3>

<p>
    <a href="/sticker-packs/support/">Sticker Pack Support</a>
</p>
<p>
    <a href="/sticker-packs/license/">Sticker Pack License</a>
</p>
<p>
    <a href="/sticker-packs/privacy-policy/">Sticker Pack Privacy Policy</a>
</p>


</div>
