<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.7;">

<p>
    <a href="/"><img src="/img/vptech-logo-x25.png" alt="Viewpoint Technical Homepage"></a>
    &nbsp;
    <a href="/sticker-packs/">Sticker Packs</a>
</p>

<p>
    Support
    &nbsp;
    <a href="/sticker-packs/license">License</a>
    &nbsp;
    <a href="/sticker-packs/privacy-policy">Privacy</a>
</p>

<h1>Sticker Pack Support</h1>

<h2>For sticker pack support, please contact Dan King at <a href="mailto:dan.king@vptech.io">dan.king@vptech.io</a> </h2>

<p>Let us know what stickers you want to see in the next release!</p>

</div>
