<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.7;">

<h1>Sticker Packs</h1>

<h2>Sticker packs for iMessage on iPhone and iPad</h2>

<h3>I Heart San Francisco</h3>

<p>These sticker files are licensed under the Creative Commons Attribution-Share Alike 4.0 International, 3.0 Unported, 2.5 Generic, 2.0 Generic and 1.0 Generic license.</p>

<p>
You are free:
<br/>
to share – to copy, distribute and transmit the work
<br/>
to remix – to adapt the work
<br/>
Under the following conditions:
<br/>
attribution – You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
<br/>
share alike – If you remix, transform, or build upon the material, you must distribute your contributions under the same or compatible license as the original.
</p>

<p>Some images were adapted from other work as described below.</p>

[insert table here]
<br>
[columns: thumbnail (span two rows), original license (upper row), modified work license (lower row) ]

<p>Original work copyright [name here] and licensed under the GNU Free Documentation License and Creative Commons License. See [link here]</p>
<p>Modified work copyright Dan King, Viewpoint Technical LLC, 2020 and licensed under the same terms as the original work.</p>

</div>
