<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.7;">

<p>
    <a href="/sticker-packs/">Sticker Packs</a>
</p>

<h1>Sticker Pack Support</h1>

<h2>For sticker pack support, please contact Dan King at <a href="mailto:dan.king@vptech.io">dan.king@vptech.io</a> </h2>

<p>Let us know what stickers you want to see in the next release!</p>

</div>
