<div class="corner10" style="background-color: white; margin:10px; padding:10px; opacity: 0.9;">

<p>
    <a href="/"><img src="/img/vptech-logo-x25.png" alt="Viewpoint Technical Homepage"></a>
    &nbsp;
    <a href="/sticker-packs/">Sticker Packs</a>
</p>

<p>
    <a href="/sticker-packs/support">Support</a>
    &nbsp;
    License
    &nbsp;
    <a href="/sticker-packs/privacy-policy">Privacy</a>
</p>

<h1>Sticker Pack License</h1>

<h3>These sticker pack images are licensed under the <a href="https://en.wikipedia.org/wiki/en:Creative_Commons" target="_blank">Creative Commons</a> <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a> license.</h3>

<p>
    You are free:
    <ul>
        <li>
            to share – to copy, distribute and transmit the work
        </li>
        <li>
            to remix – to adapt the work
        </li>
    </ul>
    Under the following conditions:
    <ul>
        <li>
            <strong>attribution</strong> – You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
        </li>
        <li>
            <strong>share alike</strong> – If you remix, transform, or build upon the material, you must distribute your contributions under the same or compatible license as the original.
        </li>
    </ul>
</p>

<p>Some images were built upon other material as listed below.</p>

<table id="image_licenses" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Image Name</th>
            <th>Image</th>
            <th>Copyright</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">
                Oakland BLM Horseback
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593551838381_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593551838381_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://www.flickr.com/people/78463971@N06" target="_blank">Daniel Arauz</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:2020-05-29_GeorgeFloyd-BlackLivesMatter-Protest-in-Oakland-California_175_(49951925926).jpg" target="_blank">https://en.wikipedia.org/wiki/File:2020-05-29_GeorgeFloyd-BlackLivesMatter-Protest-in-Oakland-California_175_(49951925926).jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>

        <tr>
            <td valign="top">
                Black Lives Matter Rock
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593575336366_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593575336366_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://www.flickr.com/people/91873384@N04" target="_blank">Dale Cruse</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:Black_Lives_Matter_(50007395296).jpg" target="_blank">https://en.wikipedia.org/wiki/File:Black_Lives_Matter_(50007395296).jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>

        <tr>
            <td valign="top">
                Oakland Black Lives Matter Mural
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593575520770_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593575520770_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://www.flickr.com/people/78463971@N06" target="_blank">Daniel Arauz</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:2020-06-07-Oakland-BlackLivesMatter-Murals_41_(49983717636).jpg" target="_blank">https://en.wikipedia.org/wiki/File:2020-06-07-Oakland-BlackLivesMatter-Murals_41_(49983717636).jpg</a>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>

        <tr>
            <td valign="top">
                Black Lives Matter Mural San Francisco
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593541704415_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593541704415_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://commons.wikimedia.org/wiki/User:Cmichel67" target="_blank">Cmichel67</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:Black_Lives_Matter_Mural_San_Francisco_01.jpg" target="_blank">https://en.wikipedia.org/wiki/File:Black_Lives_Matter_Mural_San_Francisco_01.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>

        <tr>
            <td valign="top">
                Rainbow flag ("Progress" variant by Daniel Quasar) at EuroPride 2019 (Vienna)
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593545127611_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593545127611_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2019 <a href="https://commons.wikimedia.org/wiki/User:Bojan_Cvetanović" target="_blank">Bojan Cvetanović</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:Rainbow_flag_(%22Progress%22_variant_by_Daniel_Quasar)_at_EuroPride_2019_(Vienna).jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Rainbow_flag_(%22Progress%22_variant_by_Daniel_Quasar)_at_EuroPride_2019_(Vienna).jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>


        <tr>
            <td valign="top">
                Black lives matter in charlotte
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593544735048_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593544735048_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://twitter.com/RepAdams/status/1270400410629668864/photo/1" target="_blank">Office of Congresswoman Alma S. Adams</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:Black_lives_matter_in_charlotte.jpg" target="_blank">https://en.wikipedia.org/wiki/File:Black_lives_matter_in_charlotte.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                BLM protest in New York City
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593564179731_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593564179731_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://www.flickr.com/photos/whoisstan/49989473511/" target="_blank">Stan Wiechers</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:BLM_protest_in_New_York_City_on_June_9,_2020.jpg" target="_blank">https://en.wikipedia.org/wiki/File:BLM_protest_in_New_York_City_on_June_9,_2020.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                African Americans make up 14% of this country but 33% of the reported deaths due to COVID-19
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593566447414_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593566447414_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://twitter.com/RepKarenBass/status/1253863122554834946" target="_blank">Office of Congressman Colin Allred</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:Karen_Bass_-_April_24_2020_01.jpg" target="_blank">https://en.wikipedia.org/wiki/File:Karen_Bass_-_April_24_2020_01.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                DC Signs
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593566379722_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593566379722_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://www.flickr.com/people/22526649@N03" target="_blank">Ted Eytan</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:2020.06.19_Black_Lives_Matter_Plaza,_Washington,_DC_USA_171_41236_(50022659542).jpg" target="_blank">https://en.wikipedia.org/wiki/File:2020.06.19_Black_Lives_Matter_Plaza,_Washington,_DC_USA_171_41236_(50022659542).jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Justice For Regis - Not Another Black Life rally
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593575237319_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593575237319_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://www.flickr.com/people/82298625@N00" target="_blank">Jason Hargrove</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:Justice_For_Regis_-_Not_Another_Black_Life_rally_and_March_-_May_30,_2020_-_Creative_Commons_Photos_Here_Later_Today_-_Toronto_Christie_Pitts_Park_down_Bloor_Street_to_Queens_Park_Police_Headquarters_on_College_Street_(49958043417).jpg" target="_blank">https://en.wikipedia.org/wiki/File:Justice_For_Regis_-_Not_Another_Black_Life_rally_and_March_-_May_30,_2020_-_Creative_Commons_Photos_Here_Later_Today_-_Toronto_Christie_Pitts_Park_down_Bloor_Street_to_Queens_Park_Police_Headquarters_on_College_Street_(49958043417).jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>




        <tr>
            <td valign="top">
                Protesting the Murder of George Floyd, Washington, DC USA
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593636453642_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593636453642_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://www.flickr.com/photos/22526649@N03/49973678122/" target="_blank">tedeytan</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:2020.06.05_Protesting_the_Murder_of_George_Floyd,_Washington,_DC_USA_157_34232.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:2020.06.05_Protesting_the_Murder_of_George_Floyd,_Washington,_DC_USA_157_34232.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Capitol Hill Autonomous Zone Black Lives Matter Mural
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593575897876_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593575897876_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://twitter.com/kylekotajarvi/status/1271605064608518146" target="_blank">Kyle Kotajarvi</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:Capitol_Hill_Autonomous_Zone_Black_Lives_Matter_Mural_2.jpg" target="_blank">https://en.wikipedia.org/wiki/File:Capitol_Hill_Autonomous_Zone_Black_Lives_Matter_Mural_2.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Alma Adams at BLM mural painting
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593541447224_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593541447224_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://twitter.com/RepAdams/status/1270459784077234183" target="_blank">Office of Congresswoman Alma S. Adams</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/File:Alma_Adams_at_BLM_mural_painting_-_2020_02.jpg" target="_blank">https://en.wikipedia.org/wiki/File:Alma_Adams_at_BLM_mural_painting_-_2020_02.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Black Lives Matter, Washington National Cathedral
            </td>
            <td valign="top">
                <a href="/img/stickers/black-lives-matter/1593636282058_Plain-.png">
                    <img src="/img/stickers/black-lives-matter/1593636282058_Plain-.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://commons.wikimedia.org/wiki/User:Cosal" target="_blank">Cosal</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:Black_Lives_Matter,_Washington_National_Cathedral,_10June2020.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Black_Lives_Matter,_Washington_National_Cathedral,_10June2020.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Alcatraz
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Alcatraz.png">
                    <img src="/img/stickers/Plain-Alcatraz.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Bay Bridge
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Bay-Bridge.png">
                    <img src="/img/stickers/Plain-Bay-Bridge.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2017 <a href="https://commons.wikimedia.org/wiki/User:Dllu" target="_blank">Dllu</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:San_Francisco_Bay_Bridge_Western_Span_at_night.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:San_Francisco_Bay_Bridge_Western_Span_at_night.jpg</a>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Cable Car
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Cable-Car.png">
                    <img src="/img/stickers/Plain-Cable-Car.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Castro
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Castro.png">
                    <img src="/img/stickers/Plain-Castro.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Chinatown
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Chinatown.png">
                    <img src="/img/stickers/Plain-Chinatown.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                City Hall
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-City-Hall.png">
                    <img src="/img/stickers/Plain-City-Hall.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2016 <a href="https://commons.wikimedia.org/wiki/User:Dllu" target="_blank">Dllu</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:San_Francisco_City_Hall,_nighttime,_September_2016.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:San_Francisco_City_Hall,_nighttime,_September_2016.jpg</a>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Coit Tower
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Coit-Tower.png">
                    <img src="/img/stickers/Plain-Coit-Tower.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2007 <a href="https://www.flickr.com/people/87296837@N00" target="_blank">Tony Webster</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:Coit_Tower_(2079937288).jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Coit_Tower_(2079937288).jpg</a>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Conservatory of Flowers
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Conservatory-of-Flowers.png">
                    <img src="/img/stickers/Plain-Conservatory-of-Flowers.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Ferry Building
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Ferry-Building.png">
                    <img src="/img/stickers/Plain-Ferry-Building.png" width="100">
                </a>
            </td>
            <td valign="top">
                <br/>
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Fisherman's Wharf
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Fishermans-Wharf.png">
                    <img src="/img/stickers/Plain-Fishermans-Wharf.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Golden Gate Bridge
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Golden-Gate-Bridge.png">
                    <img src="/img/stickers/Plain-Golden-Gate-Bridge.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Haight-Ashbury
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Haight-Ashbury.png">
                    <img src="/img/stickers/Plain-Haight-Ashbury.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Lombard Street
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Lombard-St.png">
                    <img src="/img/stickers/Plain-Lombard-St.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2006 <a href="http://pdphoto.org/" target="_blank">Jon Sullivan</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:Sanfran_61_bg_032605.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Sanfran_61_bg_032605.jpg</a>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Muir Woods
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Muir-Woods.png">
                    <img src="/img/stickers/Plain-Muir-Woods.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Pier 39
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Pier-39.png">
                    <img src="/img/stickers/Plain-Pier-39.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Salesforce Tower
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Salesforce-Tower.png">
                    <img src="/img/stickers/Plain-Salesforce-Tower.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2020 <a href="https://commons.wikimedia.org/wiki/User:Saggittarius_A" target="_blank">Saggittarius A</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:Salesforce_Tower_2020.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Salesforce_Tower_2020.jpg</a>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                San Francisco Mint
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-San-Francisco-Mint.png">
                    <img src="/img/stickers/Plain-San-Francisco-Mint.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2007 <a href="https://commons.wikimedia.org/wiki/File:San_Francisco_Mint_2007.jpg" target="_blank">Seth Golub</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:San_Francisco_Mint_2007.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:San_Francisco_Mint_2007.jpg</a>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                San Francisco International Airport (SFO)
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-SFO.png">
                    <img src="/img/stickers/Plain-SFO.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2018 <a href="https://commons.wikimedia.org/wiki/User:Dllu" target="_blank">Daniel L. Lu</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:Aerial_view_of_San_Francisco_International_Airport_dllu.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Aerial_view_of_San_Francisco_International_Airport_dllu.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Transamerica Tower
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Transamerica-Tower.png">
                    <img src="/img/stickers/Plain-Transamerica-Tower.png" width="100">
                </a>
            </td>
            <td valign="top">
                Original work &copy; Copyright 2006 <a href="https://commons.wikimedia.org/wiki/User:Dschwen" target="_blank">Daniel Schwen</a>
                <br/>
                <a href="https://commons.wikimedia.org/wiki/File:SF_Transamerica_full_CA.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:SF_Transamerica_full_CA.jpg</a>
                <br/>
                <br/>
                Modified work &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
        <tr>
            <td valign="top">
                Union Square
            </td>
            <td valign="top">
                <a href="/img/stickers/Plain-Union-Square.png">
                    <img src="/img/stickers/Plain-Union-Square.png" width="100">
                </a>
            </td>
            <td valign="top">
                &copy; Copyright 2020 Viewpoint Technical LLC
            </td>
        </tr>
    </tbody>
</table>
</div>

<script>
$(document).ready(function() {
    $('#image_licenses').DataTable(
          "pageLength": 50
    )
})
</script>
